[submodule "deps/sdc-scripts"]
	path = deps/sdc-scripts
	url = git@github.com:joyent/sdc-scripts.git
[submodule "deps/zookeeper-common"]
	path = deps/zookeeper-common
	url = git@github.com:joyent/zookeeper-common.git
